name: "Deploy"

on:
  push:
    branches:
      - master
      - temporal-helm

jobs:
  ecr-image-push:
    # Build and push a Docker image for zqd.
    runs-on: ubuntu-latest
    steps:
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - uses: actions/checkout@v1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - env:
          ZQD_ECR_HOST: ${{ secrets.AWS_ECR_HOST }}
        run: |
          make docker-push-ecr
  eks-deploy-test:
    # Deploys this build to a temporary namespace in order to run smoke tests.
    needs: ecr-image-push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: '1.15'
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - uses: actions/checkout@v1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - run: |
          set -x
          runnum=${{ github.run_number }}
          namespace=ci-temp-${runnum: -1}
          export ZQD_DATA_URI=s3://zq-ci-test/$(date +%y-%m-%d).${{ github.run_number }}
          export ZQD_ECR_HOST=${{ secrets.AWS_ECR_HOST }}
          aws s3 rm --recursive $ZQD_DATA_URI || : # clear data from previous run
          aws eks --region us-east-2 update-kubeconfig --name zq-test
          kubectl create ns $namespace || :
          kubectl config set-context --current --namespace=$namespace
          helm uninstall zsrv || :
          k8s/generate-srv-secrets.sh || :
          make helm-install PG_PERSIST=false
          kubectl scale --replicas=4 deployment/zsrv-worker
          kubectl wait --for=condition=Ready --timeout=60s pods/zsrv-postgresql-0
          kubectl wait --for=condition=Ready --timeout=60s pods/zsrv-redis-master-0
          kubectl wait --for=condition=available --timeout=120s deployment/zsrv-recruiter
          kubectl wait --for=condition=available --timeout=120s deployment/zsrv-root
          kubectl wait --for=condition=available --timeout=120s deployment/zsrv-worker
          make install
          source k8s/zsrv-port-forward.sh
          # There should be 4 workers running now.
          [[ 4 == $(curl http://localhost:8020/recruiter/listfree | jq -r ".workers | length") ]]
          make test-cluster
      - name: Get zqd logs and remove namespace on success or failure
        if: ${{ always() }}
        run: |
          set -x
          ZQD_DATA_URI=s3://zq-ci-test/$(date +%y-%m-%d).${{ github.run_number }}
          mkdir testlog
          kubectl logs --tail 10000 -l app.kubernetes.io/name=recruiter > testlog/recruiter.log
          kubectl logs --all-containers --tail 10000 -l app.kubernetes.io/name=root > testlog/root.log
          kubectl logs --tail 10000 -l app.kubernetes.io/name=worker > testlog/worker.log
          helm uninstall zsrv
      - name: Save logs as artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: eks-testlog
          path: testlog/
  eks-master-deploy:
    # Deploys this build to ci-master namespace so it will be available
    # for manual testing. Only deploy if previous jobs succeed.
    # make test-cluster is repeated because for this test it will use Aurora.
    needs: eks-deploy-test
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Turnstyle
        uses: softprops/turnstyle@v0.1.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-go@v2
        with:
          go-version: '1.15'
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - uses: actions/checkout@v1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - run: |
          set -x
          export ZQD_AURORA_USER=cimaster
          export ZQD_AURORA_PW=$(kubectl get secret aurora --template="{{ index .data \"postgresql-password\" }}" | base64 --decode)
          export ZQD_AURORA_HOST=$(aws rds describe-db-cluster-endpoints \
		        --db-cluster-identifier zq-test-aurora \
		        --output text --query "DBClusterEndpoints[?EndpointType=='WRITER'] | [0].Endpoint")
          export TEMPORAL_DATABASE=cimaster_temporal
          export TEMPORAL_VISIBILITY_DATABASE=cimaster_temporal_visibility
          export ZQD_DATA_URI=s3://zq-ci-master/manual-test
          export ZQD_ECR_HOST=${{ secrets.AWS_ECR_HOST }}
          aws eks --region us-east-2 update-kubeconfig --name zq-test
          kubectl create ns ci-master || true
          kubectl config set-context --current --namespace=ci-master
          make helm-install-with-aurora-temporal
          kubectl wait --for=condition=Ready --timeout=60s pods/zsrv-redis-master-0
          kubectl wait --for=condition=available --timeout=120s deployment/zsrv-recruiter
          kubectl wait --for=condition=available --timeout=120s deployment/zsrv-root
          kubectl wait --for=condition=available --timeout=120s deployment/zsrv-worker
          kubectl wait --for=condition=available --timeout=120s deployment/zsrv-zqd-temporal
          make install # this installs zapi locally
          source k8s/port-forward-temporal.sh
          make test-cluster
          env # TODO: REMOVE
          make test-temporal
      - name: Get zqd logs on success or failure
        if: ${{ always() }}
        run: |
          set -x
          ZQD_DATA_URI=s3://zq-ci-test/$(date +%y-%m-%d).${{ github.run_number }}
          mkdir testlogm
          kubectl logs --tail 10000 -l app.kubernetes.io/name=recruiter > testlogm/recruiter.log
          kubectl logs --all-containers --tail 10000 -l app.kubernetes.io/name=root > testlogm/root.log
          kubectl logs --tail 10000 -l app.kubernetes.io/name=worker > testlogm/worker.log
          kubectl logs --tail 10000 -l app.kubernetes.io/name=zqd-temporal > testlogm/zqd-temporal.log
      - name: Save logs as artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: eks-testlogm
          path: testlogm/
